<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Teoría de Decisiones</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/events">Eventos</a>
      </li>
      <li nz-submenu nzTitle="Reportes">
        <ul>
          <li nz-menu-item>
            <a routerLink="/reports/daily-occupancy">Ocupación por día</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/reports/daily-payroll">Nómina por día</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/reports/daily-rotation">Rotación por día</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/reports/daily-equipment-audit">Auditoría de equipos por día</a>
          </li>
        </ul>
      </li>
      <li nz-submenu  nzTitle="Consultas">
        <ul>
          <li nz-menu-item>
            <a routerLink="/consults">Ocupación por Diaria</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
